<article class="grid grid-cols-75fr cursor-pointer h-48">
  <section class="relative border rounded-md px-2 py-4 bg-white">
    <h3 class="absolute -top-3 font-bold text-xl bg-white">FRONTEND</h3>
    <ul class="flex mb-6 mt-2">
      <li class="px-5 mr-3 h-5 border-b border-black">VUE.js</li>
      <li class="px-5 mr-3 h-5 border-b border-black">CSS</li>
    </ul>
    <h2 class="font-medium text-lg">Scroll elegante para presentar ideas</h2>
  </section>
  <section class="card-links">
    <ul class="relative h-full">
      <li class="flex font-light hover:text-pastel-green mb-6 pl-2">
        <!-- <img src="/assets/icons/eye.svg" alt="Link to proyect detail post" class="ml-2 mr-1 mb-6" /> -->
        <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" src="/assets/icons/eye.svg"></svg> -->
        <object data="/assets/icons/eye.svg" type="image/svg+xml"></object>
        Demo
      </li>
      <li class="flex font-light pl-2 mb-1">
        <img src="/assets/icons/github-icon.svg" alt="See proyect on Github" height="25" width="25" class="mr-1" />
        Ver en Github
      </li>
      <li class="flex font-light pl-2 mb-1">
        <img src="/assets/icons/codepen-icon.svg" alt="See proyect on Codepen" class="mr-1" /> Ver en Codepen
      </li>
      <li class="flex font-light absolute bottom-0 pl-2">
        <img src="/assets/icons/share-icon.svg" alt="Button to share the pots" class="mr-1" /> Compartir
      </li>
    </ul>
  </section>
</article>
