<nav>
  <ul class="flex flex-col h-full justify-center">
    <li class="mt-8" routerLink="/blog" routerLinkActive="active-link">
      HOLAA
      <fa-icon [icon]="faCoffee"></fa-icon>
    </li>
    <li class="mt-8" routerLink="/blog" routerLinkActive="active-link">
      HOLAA
      <fa-icon [icon]="faCoffee"></fa-icon>
    </li>
    <li class="mt-8" routerLink="/blog" routerLinkActive="active-link">
      HOLAA
      <fa-icon [icon]="faCoffee"></fa-icon>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>